<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Uneasy Chair</h1>
                <p>Conferencing made easy</p>
            </div>
            <div class="col-md-4">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                  <br>
                  <input type="text" class="form-control" placeholder="Email Address">
                  <br>
                  <input type="text" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            </div>
        </div>
      </div>
</div>

<div class="container-fluid schedule">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-center">
      <span class="glyphicon glyphicon-list-alt logo text-center"></span>
      <h2>Scheduling Conferences?</h2>
      <h4><strong>It's Easy:</strong> Just blah blah blah</h4>
    </div>
  </div>
</div>
<div class="container-fluid text_left bg-grey">
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= asset_path( 'hierarchy.png' ) %>" width="300" height="300" alt="">
    </div>
    <div class="col-sm-4">
      <h2> Simple Hierarchy </h2>
      <ul>
        <li><h3>Chair<h3></li>
        <li><h3>Track Chair<h3></li>
        <li><h3>Track Member<h3></li>
        <li><h3>Authors<h3></li>
      </ul>
    </div>
  </div>
</div>
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>That's right. Green and we're not sure why</p>
      <p>but it looks good</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Service packed with so much love</p>
      <p>its slightly unsettling</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>It just works, we hope.</p>
    </div>
  </div>
  <br><br>
</div>
