<% if !@request.track.nil? %>
<h1>New Request</h1>
  <%= render 'form', request: @request %>
<% else %>
<blockquote>
<h1> With Great Power Comes Great Responsibility.</h1>
<h4> Ignore dramatic quote and submit anyways?</h4>
</blockquote>
<%= render 'form2', request: @request %>
<%end%>
